<div class="container my-5">
  <h2 class="h3 fw-bold border-start border-3 border-primary ps-2 mb-4 text-danger">
    新規投稿
  </h2>
  <% if @post.errors.any? %>
    <div class="alert alert-danger">
      <h5>投稿に失敗しました</h5>
      <ul class="mb-0">
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= render "form", post: @post %>
  <%= link_to "一覧に戻る", posts_path, class: "btn btn-outline-secondary mt-3" %>
</div>