<div class="container my-4">
  <h2 class="h3 fw-bold border-start border-3 border-primary ps-2 mb-4 text-danger">
    あなたがいいねした投稿
  </h3>
  <% if @liked_posts.any? %>
    <ul class="list-group">
      <% @liked_posts.each do |post| %>
        <li class="list-group-item">
          <%= link_to post.title, post_path(post) %>  
          <small class="text-muted"><%= post.user.present? ? post.user.name : "退会済みユーザー" %></small>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p class="text-muted">まだいいねした投稿はありません</p>
  <% end %>
</div>